:root {
    --primary-bg: #192A32;
    --second-bg: #1F3540;
    --blue: #31C3BD;
    --gray: #A7BDC8;
    --dark-gray: #677D89;
    --yellow: #F2B237;
    --dark-yellow: #CC8A10;
    --black: #0c1b23;
}